<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="myapp">
                    <match url="/*" />
                    <action type="Rewrite" url="/ransom_test/server.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- <iisnode node_env="production" devErrorsEnabled="true" loggingEnabled="true" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe " interceptor="C:\Program Files\iisnode\interceptor.js" /> -->

        <handlers>
            <add name="iisnode" path="/ransom_test/server.js" verb="*" modules="iisnode" />
        </handlers>
    </system.webServer>
</configuration>